

/* HEADER */
.logo-entete
{
  text-align: center;
}
.logo-entete img
{
  width: 230px;
}




   /* FOOTER */
.footer
{
  background: #353535;
  padding: 15px;
  color: white;
}

.footer-logo img
{
   width: 150px;
   margin-left: 15px;
 }  

.footer-links
{
  display: flex;
  flex-direction: column;   
}

.footer-links a
{
  color: white;
  margin-top: 10px;
  text-decoration:none;
  
}

.footer-links ul
{
  list-style-type:none; 
}


.footer-links a i
{
  width: 20px;
}