/* .image-restaurant
{
    height: 70vw;
    width: 100%;
} */

h1,h2,h3
{
    default-iconfont-size: 100%;
    font-weight: normal;
}

.insertion-fleche
{
  background: #ffffff;
  padding: 1vw 2vw;
  position: relative;
  top: -61vw;
  left: 61vw;
  /* font-weight: 500;
  color: #278870 */
}



.menu
{
    background-color: #F6F6F6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 6px 6px;
    margin-bottom: 10px;
}

.menu-header
{
   display: flex;
   align-items: center;
   margin-bottom: 8px;
}

.carte-contenu
{
margin-left: 90px;
}

.container
{

background-color: #F7F7F7;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
}


.restaurants-carte-image
{
  height: 175px;
  width: 100%;
}

.nom-restaurant
{
display: flex;
align-items: center;

}


/* .carte-description-plat
{
    width: 66vw;
    padding: 4vw 0 3vw 4vw;
    overflow: hidden
} */

.bouton
{ 
    font-size: 1.1em;
    background : linear-gradient(#9356DC, #FF79DA);
    padding: 1.5em 1.5em;
    border-radius: 30px;
    color: white;
    text-align: center;
    margin: 15px;
}

.titre .restaurant-nom
{
    font-size: 1.5em;
    font-weight: 750;
}

.soulignement-plat
{
height: 5px;
width: 50px;
background: #99E2D0;
}

.titre
{
    font-size: 1.5em;
    font-weight: 100;
   
}

.titre h2
{
    font-weight: 100;
}

.plats
{
    margin-bottom: 10vw;
}

.plats-titre
{
    text-transform: uppercase;
    margin-bottom: 3vw;
}

.plats-titre h2
{
    font-weight: 300;
    margin: 0;
}

.plats-titre h2 after
{
    content: "";
    border-bottom: 3px solid #99e2d0;
    display: block;
    padding-top: 2vw;
    width: 11vw;
}

.plats-carte
{
    border-radius: 5vw;
    background-color: #fff;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,.35);
    margin-bottom: 4vw;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
}

.plats-description-carte
{
    width: 66vw;
    padding: 4vw 0 3vw 4vw;
    overflow: hidden;
}

.plats-titre-carte
{
    font-weight: 900;
    font-size: 1.1rem;
    margin-bottom: 2vw;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.plats-ingredients
{
    font-weight: 200;
    font-size: 1rem;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.plats-tarif
{
    width: 17vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 900;
    padding: 4vw 4vw;
    transform: translateX(4vw);
}

.plats-valide
{
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: #99e2d0;
    transform: translateX(17vw);
    transition: all linear 500ms;
}

.plats-valide .icone
{
    color: #fff;
    transform: rotate(0deg);
    transition: all linear 500ms 300ms;
}
