/* .image-restaurant
{
    height: 70vw;
    width: 100%;
} */

h1,h2,h3
{
    font-size: 100%;
    font-weight: normal;
}

.menu
{
    background-color: #F6F6F6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 6px 6px;
    margin-bottom: 10px;
}

.menu-header
{
   display: flex;
   align-items: center;
   margin-bottom: 8px;
}

.restaurants-carte-image
{
  height: 175px;
  width: 100%;
}

/* .carte-description-plat
{
    width: 66vw;
    padding: 4vw 0 3vw 4vw;
    overflow: hidden
} */

.bouton
{ 
    font-size: 1.1em;
    background : linear-gradient(#9356DC, #FF79DA);
    padding: 1.5em 1.5em;
    border-radius: 30px;
    color: white;
    text-align: center;
    margin: 15px;

}

.plats
{
    margin-bottom: 10vw;
}

.plats-titre
{
    text-transform: uppercase;
    margin-bottom: 3vw;
}

.plats-titre h2
{
    font-weight: 300;
}

.plats-titre h2 after
{
    content: "";
    border-bottom: 3px solid #99e2d0;
    display: block;
    padding-top: 2vw;
    width: 11vw;
}

.plats-carte
{
    border-radius: 5vw;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,.35);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,.35);
    margin-bottom: 5vw;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
}

.plats-description-carte
{
    width: 66vw;
    padding: 4vw 0 3vw 4vw;
    overflow: hidden;
}

.plats-titre-carte
{
    font-weight: 900;
    font-size: 1.1rem;
    margin-bottom: 2vw;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.plats-ingredients
{
    font-weight: 200;
    font-size: 1rem;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.plats-tarif
{
    width: 17vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-weight: 900;
    padding: 4vw 4vw;
    -webkit-transform: translateX(4vw);
    -ms-transform: translateX(4vw);
    transform: translateX(4vw);
}

.plats-valide
{
    width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: #99e2d0;
    -webkit-transform: translateX(17vw);
    -ms-transform: translateX(17vw);
    transform: translateX(17vw);
    -webkit-transition: all linear 500ms;
    -o-transition: all linear 500ms;
    transition: all linear 500ms;
}

.plats-valide .icone
{
    color: #fff;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all linear 500ms 300ms;
    -o-transition: all linear 500ms 300ms;
    transition: all linear 500ms 300ms;
}
